# Copyright (c) 2024, Tin Chiang.
# SPDX-License-Identifier: Apache-2.0

menuconfig DAC7731
	bool "TI DAC7731 DAC driver"
	default y
	select SPI
	help
	  Enable the driver for the TI DAC7731.

if DAC7731

config DAC7731_INIT_PRIORITY
	int "Init priority"
	default SPI_INIT_PRIORITY
	help
	  TI DAC7731 DAC device driver initialization priority.

endif # DAC7731